{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container-fluid text-center">
            <p><a href="/all_location" class="btn btn-primary">View all medical locations</a> </p>
            <p>Or</p>
            <h3>Search by location:</h3>
            <form name="nearbyform" class="form-inline justify-content-center" action="nearby.html" method="post">
                <div class="form-group">
                    <label for="postalcode">Enter Address or Postal code:</label>
                    <input type="text" class="form-control ml-1" name="Postal_Code" aria-describedby="helpId" placeholder="39 Stamford Road">
                </div>

                <button type="submit" class="btn btn-primary ml-2">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}