
.idea/misc.xml
.idea/OOPP-Project.iml
.idea/workspace.xml
Flask/__pycache__/__init__.cpython-37.pyc
Flask/__pycache__/Forms.cpython-37.pyc
Flask/__pycache__/Models.cpython-37.pyc
Flask/__pycache__/Postal.cpython-37.pyc
Flask/__pycache__/routes.cpython-37.pyc
.idea/workspace.xml
