<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}" />
<br>
<div class="row justify-content-center">
    <div id="details" class="row col-11 justify-content-center">
        {% if current_user.personal_profile %}
        <div class="col">
            <p>
                <b>Full Name:</b>
                {% if current_user.personal_profile[0].full_name == '' %}
                Not Set
                {% else %}
                {{ current_user.personal_profile[0].full_name }}
                {% endif %}

            </p>

            <p>
                <b>NRIC:</b>
                {% if current_user.personal_profile[0].nric == '' %}
                Not Set
                {% else %}
                {{ current_user.personal_profile[0].nric }}
                {% endif %}

            </p>
        </div>

        <div class="col">
            <p>
                <b>Date of Birth:</b>
                {% if current_user.personal_profile[0].birthday == None %}
                Not Set
                {% else %}
                {{ current_user.personal_profile[0].birthday.strftime('%d/%m/%Y') }}
                {% endif %}
            </p>

            <p>
                <b>Sex:</b>
                {{ current_user.personal_profile[0].sex }}
            </p>
        </div>

        <div class="col">
            <p>
                <b>Address:</b>
                {% if current_user.personal_profile[0].address == '' %}
                Not Set
                {% else %}
                {{ current_user.personal_profile[0].address }}
                {% endif %}

            </p>
        </div>

        <div class="row justify-content-center col-12">
            <div class="text-center col-6">
                <a href="{{ url_for('medical_history.Personal_Details') }}">
                    <button class="btn btn-info col"> Update </button>
                </a>
            </div>
        </div>
        {% else %}

        <div class="col-5">
            <h4 class="text-center col-12"> You have no personal profile recorded. </h4>

            <div class="text-center">
                <a href="{{ url_for('medical_history.Personal_Details') }}">
                    <button class="btn btn-info col"> Set up one here </button>
                </a>
            </div>
        </div>

        {% endif %}
    </div>

    <hr class="col-11">

    <div id="histories" class="row col-12 justify-content-around">

        <div id="admissions" class="row justify-content-start col-3">
            {% if current_user.admissions %}
            <div class="col vh-history">
                <br>
                <p>
                    <b>Previous Admissions:</b>
                    {% for i in range(5) %}
                    {% if current_user.admissions[i] %}
                    <p>
                        Admitted at
                        {{ current_user.admissions[i].place }} on {{
                        current_user.admissions[i].date.strftime('%d/%m/%Y') }}
                        for {{ current_user.admissions[i].reason }}

                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>

            <div class="text-center col-12">
                <a href="{{ url_for('medical_history.Update_Record', record='Admissions') }}">
                    <button class="btn btn-info col"> View All </button>
                </a>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no past admissions recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('medical_history.Update_Record', record='Admissions') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="surgeries" class="row justify-content-start col-3">

            {% if current_user.surgeries %}
            <div class="col vh-history">
                <br>
                <p>
                    <b>
                        Previous Surgeries:
                    </b>
                </p>

                <p>

                    {% for i in range(5) %}
                    {% if current_user.surgeries[i] %}
                    <p>
                        {{ current_user.surgeries[i].surgery_type }} at
                        {{ current_user.surgeries[i].place }} on
                        {{current_user.surgeries[i].date.strftime('%d/%m/%Y') }}

                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>

            <div class="text-center col-12">
                <a href="{{ url_for('medical_history.Update_Record', record='Surgeries') }}">
                    <button class="btn btn-info col"> Update </button>
                </a>
            </div>
            {% else %}


            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no past surgeries recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('medical_history.Update_Record', record='Surgeries') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="blood transfusions" class="row justify-content-start col-3">
            
            {% if current_user.blood_transfusions %}
            <div class="col vh-history">
                <br>
                <p>
                    <b> Blood Transfusions:</b>
                    {% for i in range(5) %}
                    {% if current_user.blood_transfusions[i] %}
                    <p>
                        {{ current_user.blood_transfusions[i].blood_type }} at
                        {{ current_user.blood_transfusions[i].place }} on
                        {{current_user.blood_transfusions[i].date.strftime('%d/%m/%Y') }}
                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>
            
            <div class="text-center col-12">
                <a href="{{ url_for('medical_history.Update_Record', record='Blood Transfusions') }}">
                    <button class="btn btn-info col"> Update </button>
                </a>
            </div>
            {% else %}


            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no blood transfusions recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('medical_history.Update_Record', record='Blood Transfusions') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="allergies" class="row justify-content-start col-3">
            
            {% if current_user.allergies %}
            <div class="col vh-history">
                <br>
                <p>
                    <b>Allergies:</b>
                    {% for i in range(5) %}
                    {% if current_user.allergies[i] %}
                    <p>
                        {{ current_user.allergies[i].allergy }} diagnosed on
                        {{current_user.allergies[i].date.strftime('%d/%m/%Y') }}


                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>
            

            <div class="text-center col-12">
                <a href="{{ url_for('medical_history.Update_Record', record='Allergies') }}">
                    <button class="btn btn-info col"> Update </button>
                </a>
            </div>

            {% else %}
            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no allergies recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('medical_history.Update_Record', record='Allergies') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}


        </div>

    </div>

    <div id="breaklines" class="col-12">
        <br>
        <hr>
        <br>
    </div>

    <div id="histories2" class="row col-12 justify-content-around">

        <div id="vaccinations" class="row justify-content-start col-3">
            {% if current_user.vaccinations %}
            <div class="col vh-history">
                <br>
                <p>
                    <b>
                        Vaccines:
                    </b>
                </p>

                <p>

                    {% for i in range(5) %}
                    {% if current_user.vaccinations[i] %}
                    <p>
                        {{ current_user.vaccinations[i].vaccine }} shot
                        on
                        {{current_user.vaccinations[i].date.strftime('%d/%m/%Y') }}

                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>

            <div class="text-center col-12">
                <a href="{{ url_for('medical_history.Update_Record', record='Vaccinations') }}">
                    <button class="btn btn-info col"> Update </button>
                </a>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no past vaccinations recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('medical_history.Update_Record', record='Vaccinations') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="illnesses" class="row justify-content-start col-3">
            {% if current_user.illnesses %}
            <div class="vh-history">

                <br>
                <h3>
                    <b>Previous Illnesses:</b>
                </h3>
                <br>
                <p>

                    {% for i in range(current_user.illnesses|length) %}
                    {% if current_user.illnesses[i] %}
                    <div class="row">
                        <p class="col">
                            {{ current_user.illnesses[i].illness }}
                            contracted on {{
                            current_user.illnesses[i].date.strftime('%d/%m/%Y') }}

                            {% if current_user.illnesses[i].comments != '' %}
                            ({{ current_user.illnesses[i].comments }})
                            {% endif %}
                        </p>

                        <button class="btn btn-danger col-3" data-toggle="modal" data-target="#exampleModal{{i}}">
                            Remove
                        </button>


                    </div>
                    <hr>
                    <br>

                    <div class="modal fade" id="exampleModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete the
                                        record?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('medical_history.delete_item', record='Illnesses',  item_id=current_user.illnesses[i].id) }}">
                                        <button class="btn btn-danger col-12"> Yes </button>
                                    </a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>

                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}

                </p>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no past illnesses recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('medical_history.Update_Record', record='Illnesses') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</div>