.center {
    text-align: center;
}
.form {
    text-align: center;
    padding-top: 50px;
}
.overall {
    padding-top: 100px;
    border: 25px gray;
}
#submit {
    padding-right: 50px;
}