{% extends "layout.html" %}

{% block content %}
<div class="container-fluid" id="home_picture">
    <div class="row justify-content-start" id="action">
        <div class="col-5">
            <div class="row justify-content-start">
                <h1 class="">
                    Taking care of yourself done easy.
                </h1>

                <p>
                    Register to enjoy our features that will help you
                </p>

                {% if current_user.is_authenticated %}
                <a class="col-12" href="{{ url_for('users.profile_reminder') }}">
                    <button class="btn btn-info col-12">
                        Profile
                    </button>
                </a>
                {% else %}
                <a class="col-12" href="{{ url_for('users.register') }}">
                    <button class="btn btn-info col-12">
                        Sign up
                    </button>
                </a>
                {% endif %}

            </div>

        </div>
    </div>
</div>

<div class="container-fluid" id="functions">
    <br>

    <div class="col-12">
        <h2 class="text-center font-weight-bold">Our Services</h2>
    </div>

    <br>

    <div class="row justify-content-around">

        <div class="col-3 functionbg">
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/Assets/History.png') }}" alt="" class="img-fluid rounded mx-auto d-block">
            <br>
            <h5 class="text-center">
                <b>Medical History</b>
            </h5>

            <p class="text-center">
                Keep track of your medical history and print it out!
            </p>
        </div>

        <div class="col-3 functionbg">
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/Assets/Calendar.png') }}" alt="" class="img-fluid rounded mx-auto d-block">
            <br>
            <h5 class="text-center">
                <b>Automated Appointments</b>
            </h5>
            <p class="text-center">
                Appointments have been made easier to you by our automated services.
            </p>
        </div>

        <div class="col-3 functionbg">
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/Assets/line.png') }}" alt="" class="img-fluid rounded mx-auto d-block">
            <br>
            <h5 class="text-center">
                <b>Hospital Queue Trackers</b>
            </h5>
            <p class="text-center">
                Keep track of your queue in hospitals and polyclinics.
            </p>
        </div>
    </div>

    <br>
    <br>
</div>

<div class="container-fluid" id="contacts">
    <br>
    <div class="col-12">
        <h2 class="text-center font-weight-bold">Our People</h2>
    </div>
    <br>
    <div class="row justify-content-around">
        <div class="col-2 contactbg">
            <img src="../static/images/Profile_Picture/ac9a1f9a5cbf2fd3.png" class="img-fluid mx-auto d-block w-100" alt="" srcset="">
        </div>

        <div class="col-2 contactbg">

        </div>

        <div class="col-2 contactbg">

        </div>

        <div class="col-2 contactbg">

        </div>
        <div class="col-2 contactbg">

        </div>
    </div>

    <br>
    <br>
</div>

<div class="container-fluid row" id="bottomnav">

    <div class="col-10">
        <h3> About MedFriend </h3>
        <ul>
            <li>
                <a class="" href="{{ url_for('appointment.appointments') }}">Appointment</a>
            </li>

            <li>
                <a class="" href="{{ url_for('symptom_checker.symptom_check') }}">Symptom Checker</a>
            </li>

            <li>
                <a class="" href="{{ url_for('trivia.main_page') }}">Medical Trivia</a>
            </li>

            <li>
                <a class="" href="{{ url_for('medical_teacher.teacher') }}">Medical Tutor</a>
            </li>

            <li>
                <a class="" href="{{ url_for('feedback.form_page') }}">Feedback</a>
            </li>
        </ul>
        <br>
        <br>
        <p>
            Copyright ©2019 All rights reserved
        </p>

    </div>
    <div class="col-3 row justify-content-start">
        <img style="width: 40px; height:40px;" src="../static/images/icons/Facebook.png" class="col" alt="" srcset="">
        <img style="width: 40px; height:40px;" src="../static/images/icons/Instagram.png" class="col" alt="" srcset="">
        <img style="width: 40px; height:40px;" src="../static/images/icons/Twitter.png" class="col" alt="" srcset="">
        <img style="width: 40px; height:40px;" src="../static/images/icons/linkedin.png" class="col" alt="" srcset="">
    </div>



</div>
{% endblock %}