<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}" />
<br> 
<div class="row justify-content-center ">
    <div id="histories" class="row col-12 justify-content-around">

        <div class="row justify-content-start col-3">
            {% if current_user.admissions %}
            <div class="col vh-history">
                <br>
                <p>
                    <b>Previous Admissions:</b>
                    {% for i in range(5) %}
                    {% if current_user.admissions[i] %}
                    <p>
                        {{ current_user.admissions[i].place }} on {{
                        current_user.admissions[i].date.strftime('%d/%m/%Y') }}

                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>

            <div class="text-center col-12">
                <a href="{{ url_for('Previous_Admissions') }}">
                    <button class="btn btn-info col"> View All </button>
                </a>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no past admissions recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('Previous_Admissions') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row justify-content-start col-3">

            {% if current_user.surgeries %}
            <div class="col vh-history">
                <br>
                <p>
                    <b>
                        Previous Surgeries:
                    </b>
                </p>

                <p>

                    {% for i in range(5) %}
                    {% if current_user.surgeries[i] %}
                    <p>
                        {{ current_user.surgeries[i].surgery_type }} at
                        {{ current_user.surgeries[i].place }} on
                        {{current_user.surgeries[i].date.strftime('%d/%m/%Y') }}

                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>

            <div class="text-center col-12">
                <a href="{{ url_for('Previous_Surgeries') }}">
                    <button class="btn btn-info col"> Update </button>
                </a>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no past surgeries recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('Previous_Surgeries') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row justify-content-start col-2">
            <br>
            {% if current_user.blood_transfusions %}
            <div class="col vh-history">
                <br>
                <p>
                    <b> Blood Transfusions:</b>
                    {% for i in range(5) %}
                    {% if current_user.blood_transfusions[i] %}
                    <p>
                        {{ current_user.blood_transfusions[i].blood_type }} at
                        {{ current_user.blood_transfusions[i].place }} on
                        {{current_user.blood_transfusions[i].date.strftime('%d/%m/%Y') }}
                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>
            <br>
            <div class="text-center col-12">
                <a href="{{ url_for('Blood_Transfusion_History') }}">
                    <button class="btn btn-info col"> Update </button>
                </a>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no blood transfusions recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('Blood_Transfusion_History') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row justify-content-start col-2">
            <br>
            {% if current_user.allergies %}
            <div class="col vh-history">
                <br>
                <p>
                    <b>Allergies:</b>
                    {% for i in range(5) %}
                    {% if current_user.allergies[i] %}
                    <p>
                        {{ current_user.allergies[i].allergy }} diagnosed on
                        {{current_user.allergies[i].date.strftime('%d/%m/%Y') }}


                    </p>
                    {% endif %}
                    {% endfor %}

                </p>
            </div>
            <br>

            <div class="text-center col-12">
                <a href="{{ url_for('Update_Allergies') }}">
                    <button class="btn btn-info col"> Update </button>
                </a>
            </div>

            {% else %}
            <div class="row justify-content-center">
                <h4 class="text-center col-12"> You have no allergies recorded. </h4>

                <div class="text-center">
                    <a href="{{ url_for('Update_Allergies') }}">
                        <button class="btn btn-info col"> Record </button>
                    </a>
                </div>
            </div>
            {% endif %}


        </div>
    </div>
</div>