{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<img src="..." class="img-fluid">
		<p>how to cure light fever</P>


	</div>

	<div class="row justify-content-center">
		<img src="..." class="img-fluid">
		<P>drink more water</p>

	</div>

	<div class="row justify-content-center">

		<table>
			<tr>
				<th>OTHER<th>
			</tr>
			<tr>
				<td>
					<ul>
						<li>how to cure coughing</li>
				</td>
			</tr>
		</table>
	</div>
</div>
     <form action="/handle_data" method="post">

         <legend class="border-bottom mb-4">Leave a comment. Like and Subscribe. Smash that bell button.</legend>
         <input type="text" name="project" class="form-group">
            <div class="form-group">

            </div>


        <button>
            SUBMIT
        </button>
     </form>
    <div>
        {% for i in range(display_review|length) %}
            {{ display_review[i][1] }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ display_review[i][2] }}
            <hr>
        {% endfor %}

    </div>

{% endblock %}