{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<img src="..." class="img-fluid">
		<p>how to cure light fever</P>


	</div>

	<div class="row justify-content-center">
		<img src="..." class="img-fluid">
		<P>drink more water</p>

	</div>

	<div class="row justify-content-center">

		<table>
			<tr>
				<th>OTHER<th>
			</tr>
			<tr>
				<td>
					<ul>
						<li>how to cure coughing</li>
				</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}