{% extends "layout.html" %}
{% block content %}
<div class="container">

  <div class="row justify-content-center">
      <div id="carouselId" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
            <li data-target="#carouselId" data-slide-to="1"></li>
            <li data-target="#carouselId" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img src="{{url_for('static', filename='images/Trivia/apple(shopped).png')}}" >
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='images/Trivia/MEDICINES TABLETS PIXABAY.jpg')}}">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='images/Trivia/lemon-essential-oil-stock-cover.jpg')}}">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
  </div>

  <div class="row justify-content-center">
      <div class="form-group">
          <label for="">Search Bar</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
  </div>
</div>

{% endblock %}