{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="postalcode">Enter Postal Code:</label>
                    <input type="text" class="form-control" id="postalcode">
                </div>
                <button type="submit" class="btn btm-primary">Submit</button>
            </form>
</div>
{% endblock %}