* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

/* ============================================================================================================================== */

#modalstuff {
    background-image: url("../static/images/Word\ 2.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

#home_picture {
    background-image: url("../images/Slides/Doctor.Png");
    background-size: cover;
    min-height: 100vh;
    /* background-color: red; */
    padding: 5vh 15vh;
}

#action {
    margin-top: 45vh;
}

#action h1 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}

#action .btn-info {
    background: rgb(1, 127, 255);
    background: linear-gradient(180deg, rgba(1, 127, 255, 1) 0%, rgba(1, 127, 255, 1) 35%, rgba(0, 226, 244, 1) 100%);

    border: none;
    border-radius: none;

    height: 50px;
}

/* ============================================================================================================================== */

#functions {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    padding: 5vh 15vh;
}

.functionbg {
    min-height: 10vh;
    background-color: rgb(245, 248, 250);
}

#functions img {
    height: 30%;
}

/* ============================================================================================================================== */

#contacts {
    background-color: rgb(245, 248, 250);
    min-height: 70vh;
    padding: 5vh 15vh;
}

.contactbg {
    min-height: 30vh;
    background-color: rgb(255, 255, 255);
}

/* ============================================================================================================================== */

#bottomnav {
    background-color: black;
    min-height: 70vh;
    padding: 5vh 15vh;
    background-image: url("../images/Polygon.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

#bottomnav li {
    list-style: none;
    margin: 1vh 0vw;
}

#bottomnav h3 {
    color: whitesmoke;
    text-decoration: underline;
    font-size: 2em;
}

#bottomnav li a, #bottomnav p {
    color: white;
    margin: 1vw 0vw;
}

#bottomnav li a:hover {
    text-decoration: none;
    color: gray;
}