*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: rgb(255, 255, 255);

}

#modalstuff{
    background-image: url("../static/images/Word\ 2.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.whitebg{
    min-height: 50vh;
    background-color: white;
}

#functions{
    background-color: rgb(211, 215, 219);
    min-height: 80vh
}



#contacts{
    background-color: rgb(83, 169, 255);
    min-height: 50vh
}