#sign_up{
    margin-top: 5vh;
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    z-index: 1;
    min-height: 40vh;
}

body{
    background-image: url("../images/Slides/Hallway.png")
}



