{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-around border rounded">
        <div class="col-4 border">
            <h1>Banana</h1>
        </div>

        <div class="col-5 border">
            <h2>Apple</h2>
        </div>

        
    </div>

    <br>
    <br>

    <div class="row justify-content-center border rounded">
            <form action="http://127.0.0.1:5000/results" method="POST" class="col-5">
        
                <div class="form-group">
                    <label for="studentname"> Name</label>
                    <input type="text" class="form-control" id="studentname" name="Name" value="{{request.form.Name}}">
                </div>
        
                <div class="form-group">
                    <label for="studentgrades"> Grades</label>
                    <input type="text" class="form-control" id="studentgrades" name="Grades" value="{{request.form.Grades}}">
                </div>
        
                <div class="form-group">
                    <label for="studentgender"> Gender</label>
                    <input type="text" class="form-control" id="studentgender" name="Gender" value="{{request.form.Gender}}">
                </div>
        
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        
</div>

{% endblock %}