{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/css/Symptom.css">
     <div class="symptom">
          <h2>Your symptom is: ***********</h2>
          <br>
          <h3>How to treat your symptom</h3>
          <p>***************************************</p>
        </div>
        <div class="tab">
          <h4>Related Symptoms</h4>
          <ul>
            <li><a href="/">******</a></li>
            <li>******</li>
            <li>******</li>
            <li>******</li>
          </ul>
        </div>

{% endblock %}