{% extends "layout.html" %}

{% block content %}
    <div class="container">
            <div class="col-8">
                <form action="symptom" method="post">
                    <input type="radio" name="answer" value="1"> One <br>
                    <input type="radio" name="answer" value="2"> Two <br>
                    <input type="radio" name="answer" value="3"> Three <br>
                    <input type="radio" name="answer" value="4"> Four <br>
                    <input type="submit">
                </form>
                </div>

    </div>


{% endblock %}