{% extends "layout.html" %}

{% block content %}
    <div class="container">
            <div class="col-8">
            {{ a_list }}
                {% for i in q_list %}
                <form action="Symptom_Checker" method="post">
                    <h2> {{ i[1] }}</h2>
                    <input type="radio" name="answer" value="1"> {{ i[2] }} <br>
                    <input type="radio" name="answer" value="2"> {{ i[3] }} <br>
                    <input type="radio" name="answer" value="3"> {{ i[4] }} <br>
                    <input type="radio" name="answer" value="4"> {{ i[5] }} <br>
                    <input type="radio" name="answer" value="5"> {{ i[6] }} <br>
                    <input type="hidden" name="answer_list" value="{{ a_list }}">
                    <input type="submit">
                </form>
                </div>
                {% endfor %}

    </div>


{% endblock %}