{% extends "layout.html" %}

{% block content %}
    <div class="container">
            <div class="col-8">
                <form action="symptom_change_question" method="post">
                    <h2>{{ symptom_question_html }}</h2>
                    <input type="radio" name="answer" value="1">{{ symptom_answer_one_html }}<br>
                    <input type="radio" name="answer" value="2">{{ symptom_answer_two_html }}<br>
                    <input type="radio" name="answer" value="3">{{ symptom_answer_three_html }}<br>
                    <input type="radio" name="answer" value="4">{{ symptom_answer_four_html }}<br>
                    <input type="radio" name="answer" value="5">{{ symptom_answer_five_html }}<br>
                    <input type="submit">
                </form>
                </div>

    </div>


{% endblock %}