{% extends "layout.html" %}

{% block content %}
<!--<h1> {{ name }}</h1>-->
<!--<h1> {{ mark }}</h1>-->
<!--<h1> {{ gender }}</h1>-->

<!--<h1> {{ student }}</h1>-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            {% for key, value in result.items() %}

            <h1>{{ key.capitalize() }}: {{ value }}</h1>
            <br>
            {% endfor %}
        </div>
    </div>

    <h1> Print for student using class:</h1>
    <h2>{{ student }}</h2>

</div>

{% endblock %}